/*
 * Single_exam styling
 */
div.single_exam {
    border-style: solid;
    border-width: 1px;
    border-color: #aaaaaa;
    padding: 0px 5px 5px 20px;
}
div.single_exam div.correct input\[type="text"\]:disabled {
    background: #ddFFdd;
    color: black;
}
div.single_exam div.incorrect input\[type="text"\]:disabled {
    background: #FFdddd;
    color: black;
}

@media print{    
    div {
	font-size: 11px;
    }
    div.single_exam {
	page-break-after: always;
    }
    div.single_exam h2 {
	font-size: 12px;
    }
    div.single_exam h3 {
	font-size: 12px;
    }
    div.single_exam div.form-label {
	display: none;
    }

}

/*
 * Exam preview
 */
div.exam-preview {
    background: #fafafa;
    padding: 10px;
    margin:10px;
    background-size: 40px 40px;
    background-image: linear-gradient(to right, #eee 1px, transparent 1px), linear-gradient(to bottom, #eee 1px, transparent 1px);
}
div.exam-preview div.question_text {
    background-color: inherit;
}


/*
 * item-styling
 */
div.question_text {
    /*background-color: #fafafa;*/
}
div.mc_interaction div.form-label,
div.sc_interaction div.form-label,
div.text_interaction div.form-label,
div.upload_interaction div.form-label
{
    display: none;
}

div.mc_interaction,
div.sc_interaction,
div.short_text_interaction,
div.text_interaction {
    padding: 15px 0px 0px 15px;
}
div.mc_interaction label,
div.sc_interaction label {
    font-weight: normal;
    /*margin: 0px 0px 10px 0px;*/
    padding: 0px 0px 4px 0px;    
}
label div.richtext-label {
    /*display: inline-block;*/
    /*   width: 450px;*/
    padding: 0px 0px 0px 35px;
    margin: 0px 0px 6px 0px;
}
div.short_text_interaction div.progress,
div.mc_interaction div.progress,
div.sc_interaction div.progress {
    margin: 0px;
}
div.short_text_interaction div.progress div.progress-bar,
div.mc_interaction div.progress div.progress-bar,
div.sc_interaction div.progress div.progress-bar {
    background-color: #ccc;
    color: #444;
}
div.mc_interaction label input[type="checkbox"],
div.sc_interaction label input[type="radio"] {
    vertical-align: top;
    margin: 2px 0px 0px 10px;
}

div.short_text_interaction li {
    padding: 0px 0px 10px 0px;
}

/*
 * Feedback styling
 */
div.text_interaction div.incorrect {
    background: #ffcccc;
}
div.short_text_interaction div.incorrect input:disabled {
    background: #ffdddd;
}
div.text_interaction div.textarea,
div.short_text_interaction div.textarea,
div.short_text_interaction div.text {
    background: #eee;
    white-space: pre-wrap;
    padding: 10px 10px 10px 10px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #ddd;
    border-radius: 4px;
}

div.text_interaction div.correct,
div.short_text_interaction div.correct,
div.mc_interaction label.correct,
div.sc_interaction label.correct
{
    border-width: 0px 0px 0px 4px;
    border-style: solid;
    border-color: green;
}
div.text_interaction div.incorrect,
div.short_text_interaction div.incorrect,
div.mc_interaction label.incorrect,
div.sc_interaction label.incorrect
{
    border-width: 0px 0px 0px 4px;
    border-style: solid;
    border-color: red;
}
div.text_interaction div.textarea span.match,
div.short_text_interaction div.textarea span.match,
div.short_text_interaction div.text span.match {
    background: #FFFF2F; /*#FFFFAA;*/
    margin: 0px 2px;  /* otherwise two spans separated by space merge visually */
}

/*
 * Selection form styling
 */
div.xowiki-content .content-with-folders form  {
    margin: 0px 0px 0px 16px;
}
div.xowiki-content .content-with-folders form div.form-label {
    width: 200px;
}
div.workarea h3 {
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    background-color: #fafafa;
}

/*
 * Action button styling
 */
form button.current {
    background-color: #ddd;
    border-top: 2px solid #999;
    border-bottom: 2px solid #999;
    border-style: groove;
}

/*
 * Modal + jquery tag cloud
 */
div.short_text_interaction .modal,
div.text_interaction .modal
{
    display: block;     /* undo display:none          */
    height: 0;          /* height:0 is also invisible */
    overflow-y: hidden; /* no-overflow                */
}

div.short_text_interaction .modal.fade.in,
div.text_interaction .modal.fade.in
{
  height: auto;         /* let the content decide it  */ 
}

